<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1>
          <%= @patient.name%> <span><small> Schedule</small></span>
        </h1>
      </div>
    </div>
      <div class="col-md-6 col-md-offset-3">
        <% if @trial.schedules.any? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-md-2 text-center">Company</th>
                <th class="col-md-2 text-center">Trial Name</th>
                <th class="col-md-2 text-center"># of Visits</th>
                <th class="col-md-2 text-center">Description</th>
                <th class="col-md-2 text-center">Start Date</th>
                <th class="col-md-3 text-center">End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"><%= @trial.company %> and I love Mattie</td>
                <td class="text-center"><%= @trial.name %></td>
                <td class="text-center"><%= @trial.number_of_visits %></td>
                <td class="text-center"><%= @trial.description %></td>
                <td class="text-center"><%= @trial.start_date %></td>
                <td class="text-center"><%= @trial.end_date %></td>
              </tr>
            </tbody>
          </table>
          <%# TODO: add visit schedule here %>
          <% if @patient.visits.length > 1 %>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="col-md-1">#</th>
                  <th class="col-md-2">Visit Description</th>
                  <th class="col-md-2">Days Until Next Visit</th>
                  <th class="col-md-2">Visit Date</th>
                </tr>
              </thead>
              <tbody>
                <% @schedule.each do |visit| %>
                  <tr>
                    <td><%= visit.visit_number%></td>
                    <td><%= visit.description %></td>
                    <td><%= visit.days_to_next %></td>
                    <td><%= visit.appt_date %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% elsif @conflicts %>
            <table class="table table-hover table-bordered">
              <thead>
                  <tr>
                    <th>Conflict Description</th>
                    <th>Conflict Date</th>
                  </tr>
              </thead>
              <tbody>
                <% @conflicts.each do |conflict| %>
                  <tr>
                    <td><%= conflict[0] %></td>
                    <td><%= conflict[1] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="lead text-warning">This patient has not been scheduled yet: </p>
            <form id="form_id" action="/trials/<%= @trial.id %>/patient/<%= @patient.id%>/schedule" method="post">
              <div class="form-group">
                <label for="visit_date">Start Date</label>
                <input type="date" name="visit_date" id="visit_date" class="form-control">
              </div>
              <button name="submit" type="submit" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus"></span></button>
            </form>
          <% end %>
        <% else %>
          <p class="lead text-center">No schedule has been created for the trial this patient is enrolled in. Create the trial schedule <a href="/trials/<%= @trial.id%>/schedule/add" class="btn btn-primary" role="button"> here</a></p>
        <% end %>
      </div>
    </div>
  <div class="col-md-8 col-md-offset-2">
    <% if @trial.schedules.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-2 text-center">Company</th>
            <th class="col-md-2 text-center">Trial Name</th>
            <th class="col-md-2 text-center"># of Visits</th>
            <th class="col-md-2 text-center">Description</th>
            <th class="col-md-2 text-center">Start Date</th>
            <th class="col-md-3 text-center">End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><%= @trial.company %></td>
            <td class="text-center"><%= @trial.name %></td>
            <td class="text-center"><%= @trial.number_of_visits %></td>
            <td class="text-center"><%= @trial.description %></td>
            <td class="text-center"><%= @trial.start_date %></td>
            <td class="text-center"><%= @trial.end_date %></td>
          </tr>
        </tbody>
      </table>
      <% if @patient.visits.length > 1 %>
        <p class="lead text-success"><%= @patient.first_name %> <%= @patient.last_name %> has been scheduled</p>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-2">Visit Description</th>
              <th class="col-md-2">Days Until Next Visit</th>
              <th class="col-md-2">Visit Date</th>
            </tr>
          </thead>
          <tbody>
            <% @visits.each do |visit| %>
              <% unless visit == @visits.first %>
                <tr>
                  <td><%= Schedule.find(visit.schedule_id.to_i).visit_number %></td>
                  <td><%= Schedule.find(visit.schedule_id).description %></td>
                  <td><%= Schedule.find(visit.schedule_id).days_to_next %></td>
                  <td><%= visit.appt_date %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <a href="/trials/<%= @trial.id %>" class="btn btn-primary" role="button">Go Back to Trial</a>
      <% elsif @conflicts %>
        <table class="table table-hover table-bordered">
          <thead>
              <tr>
                <th>Conflict Description</th>
                <th>Conflict Reason</th>
                <th>Conflict Date</th>
              </tr>
          </thead>
          <tbody>
            <% @conflicts.each do |conflict| %>
              <tr>
                <td><%= conflict[0] %></td>
                <td><%= conflict[1] %></td>
                <td><%= conflict[2] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <a href="/trials/<%= @trial.id %>/patient/<%= @patient.id%>/schedule" class="btn btn-block btn-success">Try Again</a>
      <% else %>
        <p class="lead text-center">Trial Schedule Template:</p>
        <%= erb :schedule_partial %>
        <p class="lead text-warning">This patient has not been scheduled yet: </p>
        <form id="form_id" action="/trials/<%= @trial.id %>/patient/<%= @patient.id%>/schedule" method="post">
          <div class="form-group">
            <label for="visit_date">Start Date</label>
            <input type="date" name="visit_date" id="visit_date" class="form-control">
          </div>
          <button name="submit" type="submit" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus"></span></button>
        </form>
      <% end %>
    <% else %>
      <!-- <p class="lead text-center">No schedule has been created for the trial this patient is enrolled in. Create the trial schedule <a href="/trials/<%= @trial.id%>/schedule/add" class="btn btn-primary" role="button"> here</a></p> -->
    <% end %>
  </div>
</div>
