<h1><%= @patient.name%>'s information</h1>

<form action="/patients/<%= @patient.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= erb :patient_partial %>
  <button name="submit" type="submit" class="btn btn-warning">Update</button>
</form>
<br>

<form action="/patients/<%= @patient.id %>" method="post">
  <%= erb :delete_partial %>
</form>

<br>
<% if @patient.visits.any? %>
  <ul>
    <% @patient.visit do |visit| %>
    <li><a href="/visits/<%= visit.id %>"> <%= visits.name %> </a></li>
    <% end %>
  </ul>

<% else %>


<p class="lead"> <%= @patient.name%> currently has no visits please see the <a href="/trials">trials</a> page to assign them to a trial.

</p>

<% end %>
