<h1>Create the schedule for <%= @trial.name %></h1>

<div class="col-md-6">
  <p class="lead text-center">Scheduled Visits</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-2 text-center">Total Visits</th>
        <th class="col-md-2 text-center">Visits Left to Schedule</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= @trial.number_of_visits %></td>
        <td class="text-center"><%= @trial.number_of_visits - @schedule.length %></td>
      </tr>
    </tbody>
  </table>
  <% if @schedule.any? %>
    <br>
    <%= erb :schedule_partial %>
  <% end %>
</div>
<div class="col-md-4 col-md-offset-2">
  <% if @trial.number_of_visits - @schedule.length > 0 %>
    <p class="lead">Add Visit #<%= @schedule.length + 1 %></p>
    <%= erb :schedule_add_partial %>
  <% end %>
</div>
