<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1>
          <%= @trial.name %> <span><small> Schedule</small></span>
        </h1>
      </div>
    </div>
    <div class="row clearfix">
    		<div class="col-md-4 column">
          <p class="lead">Number of visits: <span><small> <%= @trial.number_of_visits %> </small> </span></p>
    		</div>
    		<div class="col-md-4 column">
          <p class="lead"> Start Date: <span><small> <%= @trial.start_date %> </small> </span> </p>
    		</div>
    		<div class="col-md-4 column">
          <p class="lead"> End Date: <span><small> <%= @trial.end_date %> </small> </span> </p>
    		</div>
      </div>
      <div class="row clearfix">
        <div class="col-md-12 column">
          <p class ="lead">Description:
          <span><small> <%= @trial.description %> </small></span> </p>
    		</div>
    	</div>
	</div>
  <hr>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
      <div class="col-md-8 column">
        <p class="lead text-center">Visit Template</p>
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th class="col-md-2 text-center">Total Visits</th>
              <th class="col-md-2 text-center">Visits Left to Create</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><%= @trial.number_of_visits %></td>
              <td class="text-center"><%= @trial.number_of_visits - @schedule_template.length %></td>
            </tr>
          </tbody>
        </table>
        <% if @schedule_template.any? %>
          <br>
          <%= erb :schedule_partial %>
        <% end %>
      </div>
      <div class="col-md-3 column">
        <% if @trial.number_of_visits - @schedule_template.length > 0 %>
          <p class="lead">Add Visit #<%= @schedule_template.length + 1 %></p>
          <%= erb :schedule_add_partial %>
        <% end %>
      </div>
    </div>
  </div>
</div>
    <div class="row">
      <div class="col-md-4">
        <a href="/trials/<%= @trial.id %>" class="btn btn-primary" role="button">Go Back to Trial</a>
      </div>
    </div>
  </div>
</div>
