<h1><%= @specialist.first_name%> <%= @specialist.last_name%>'s information</h1>
<div class="container">
  <div class="row">
    <div style = "border-right: 1px solid #ccc" class="col-md-8">
      <form action="/specialists/<%= @specialist.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <%= erb :specialist_partial %>
        <button name="submit" type="submit" class="btn btn-warning">Update</button>
      </form>
    </div>
    <div class="col-md-4">
      <p class = "lead">Days Unavailable</p>
        <% if @vacations.any?%>
          <table class="table table-hover table-responsive table-condensed table-striped">
            <thead>
              <tr>
                <th class="col-md-1">Start Date</th>
                <th class="col-md-3">End Date</th>
                <th class="col-md-1">Delete</th>
              </tr>
            </thead>
            <% @vacations.each do |vacay| %>
            <tbody>
              <tr>
                  <td><%= vacay.start_date %></td>
                  <td><%= vacay.end_date %></td>
                  <td>
                    <form action="/vacation/<%= vacay.id %>" method="post">
                      <input name="_method" type="hidden" value ="delete">
                        <button id="delete_specialist" type="submit" class="btn btn-xs btn-danger glyphicon glyphicon-remove"></button>
                    </form>
                  </td>
              </tr>
            </tbody>
          <% end %>
          </table>
        <% end %>
        <a href="/vacation/<%= @specialist.id %>" class="btn btn-xs btn-info ">Edit Availability</a>
      </form>
    </div>
  </div>
<br>

<% if @specialist.visits.any? %>
  <ul>
    <% @specialist.visits do |visit| %>
    <li><a href="/visits/<%= visit.id %>"> <%= visits.name %> </a></li>
    <% end %>
  </ul>

<% else %>


<p class="lead"> <%= @specialist.first_name%> <%= @specialist.last_name%> currently has no visits please see the <a href="/trials">trials</a> page to assign them to a trial.

</p>

<% end %>
</div>
