
<h1>Specialists</h1>

<% if @specialists.any? %>
  <table class="table table-hover table-responsive table-condensed">
    <thead>
      <tr>
        <th class="col-md-1">Edit</th>
        <th class="col-md-3">Name</th>
        <th class="col-md-3">Phone</th>
        <th class="col-md-4">Email</th>
        <th class="col-md-1">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="info">
        <td><a href="/specialists/add" class="btn btn-xs btn-info glyphicon glyphicon-plus"></a></td>
        <td>Add New Specialist Here</td><td></td><td></td><td></td>
      </tr>
    </tbody>
  <% @specialists.each do |special| %>
    <tbody>
      <tr>
          <td>
            <a href="/specialists/<%= special.id %>" class="btn btn-xs btn-info glyphicon glyphicon-plus"></a>
          </td>
          <td><%= special.name %></td>
          <td><%= special.phone %></td>
          <td><%= special.email %></td>
          <td>
            <form action="/specialists/<%= special.id %>" method="post">
              <input name="_method" type="hidden" value ="delete">
                <button id="delete_specialist" type="submit" class="btn btn-xs btn-danger glyphicon glyphicon-remove"></button>
            </form>
          </td>
      </tr>
    </tbody>
  <% end %>
  </table>
<% else %>
  <div class="col-md-7 col-md-offset-3 text-center">
    <p class="lead"> No specialists have been added yet. Please add specialists <a href="/specialists/add" class="btn btn-primary" role="button">here</a>.</p>
  </div>
<% end %>
