<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
          <%= @trial.name%> <span><small> <%= @trial.company%></small></span>
				</h1>
			</div>
			<dl>
			</dl>
		</div>
		<div class="row clearfix">
    		<div class="col-md-4 column">
          <p class="lead">Number of visits: <span><small> <%= @trial.number_of_visits %> </small> </span></p>
    		</div>
    		<div class="col-md-4 column">
          <p class="lead"> Start Date: <span><small> <%= @trial.start_date %> </small> </span> </p>
    		</div>
    		<div class="col-md-4 column">
          <p class="lead"> End Date: <span><small> <%= @trial.end_date %> </small> </span> </p>
    		</div>
			</div>
				<div class="row clearfix">
					<div class="col-md-12 column">
						<p class ="lead">Description:
						<span><small> <%= @trial.description %> </small></span> </p>
					</div>
				</div>
      </div>
	</div>
  <br>
  <br>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="panel-group" id="panel-276987">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-276987" href="#panel-element-177772">View Patients</a>
					</div>
					<div id="panel-element-177772" class="panel-collapse collapse">
						<div class="panel-body">
              <div class-"row">
                  <% if @enrolled_patients.any? %>
                    <p class='lead text-center'> Current patients for this trial:</p>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="col-md-1 text-center">Patient Schedule</th>
                          <th class="col-md-2 text-center">Name</th>
                          <th class="col-md-2 text-center">Phone</th>
                          <th class="col-md-2 text-center">E-mail</th>
													<th class="col-md-1 text-center">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @enrolled_patients.each() do |patient| %>
                          <tr>
                            <td class="text-center"><a href="/trials/<%= @trial.id%>/patient/<%= patient.id%>/schedule" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-plus"></span></a></td>
                            <td><a href="/patients/<%= patient.id%>"> <%= patient.name %></a></td>
                            <td><%= patient.phone %></td>
                            <td><%= patient.email %></td>
														<td class="text-center">
															<form action="/trials/<%= @trial.id%>/patient/<%= patient.id%>/remove" method ="post">
																<input name="_method" type="hidden" value ="delete">
																<input name="trial_id" type="hidden" value ="<%= @trial.id%>">
																<input name="patient_id" type="hidden" value ="<%= patient.id%>">
																<button id="remove_patient_trial" type="submit" class="btn btn-xs btn-danger">
																	<span class="glyphicon glyphicon-remove"></span>
																</button>
															</form>
														</td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <% end %>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-295864" href="#panel-element-877334">View Specialists</a>
					</div>
					<div id="panel-element-877334" class="panel-collapse collapse">
						<div class="panel-body">
              <% if @assigned_specialists.any? %>
                <p class='lead text-center'> Current specialists for this trial:</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="col-md-2 text-center">Name</th>
                      <th class="col-md-2 text-center">Phone</th>
                      <th class="col-md-2 text-center">E-mail</th>
											<th class="col-md-1 text-center">Remove</th>

                    </tr>
                  </thead>
                  <tbody>
                    <% @assigned_specialists.each() do |specialist| %>
                      <tr>
                        <td><a href="/specialists/<%= specialist.id%>"><%= specialist.name %></a></td>
                        <td><%= specialist.phone %></td>
                        <td><%= specialist.email %></td>
												<td class="text-center">
													<form action="/trials/<%= @trial.id%>/specialist/<%= specialist.id%>/remove" method ="post">
														<input name="_method" type="hidden" value ="delete">
														<input name="trial_id" type="hidden" value ="<%= @trial.id%>">
														<input name="specialist" type="hidden" value ="<%= specialist.id%>">
														<button id="remove_patient_trial" type="submit" class="btn btn-xs btn-danger">
															<span class="glyphicon glyphicon-remove"></span>
														</button>
													</form>
												</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
						</div>
					</div>
				</div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-859960" href="#panel-element-200394">Update Trial Information</a>
          </div>
          <div id="panel-element-200394" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-md-4-column">
                  <p class="lead">Update Trial Information:</p>
                  <form id="form_id" action="/trials/<%= @trial.id %>/update" method="post">
                    <%= erb :trial_partial %>
                    <button name="submit" type="submit" class="btn btn-warning">Update</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
			</div>
		</div>
  </div>
		<div class="col-md-4 column">
			<dl>
				<dt>
              <% if @trial.available_patients.any? %>
                <p class="lead"> Add a new patient to the trial here </p>
                <form action="/trials/<%= @trial.id %>/add/patients" method="post">
                  <% @patients.each do |patient| %>
                    <% unless @trial.patients.include?(patient) || patient.visits.any? %>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="patient_ids[]" value="<%= patient.id %>"> <%= patient.name %>
                          </label>
                        </div>
                    </div>
                    <% end %>
                  <% end %>
                  <div class="form-group">
                    <button name="add_patients" type='submit' class="btn btn-success">Add Patients</button>
                  </div>
                </form>
              <% else %>
                <p class="lead text-danger">It appears no patients are available for this trial. Feel free to <a href="/patients">add more patients</a>.</p>
              <% end %>
          <% if @specialists.any? %>
            <% if @trial.specialists.length == @specialists.length %>
              <p class="lead text-success"> All available specialists are on this trial </p>
            <% else %>
              <p class="lead"> Add a new specialist to the trial here </p>
              <form action="/trials/<%= @trial.id %>/add/specialists" method="post">
                <% @specialists.each do |specialist| %>
                  <% unless @trial.specialists.include?(specialist) %>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="specialist_ids[]" value="<%= specialist.id %>"> <%= specialist.name %>
                        </label>
                      </div>
                  </div>
                  <% end %>
                <% end %>
                <div class="form-group">
                  <button name="add_specialists" type='submit' class="btn btn-success">Add Specialists</button>
                </div>
              </form>
            <% end %>
          <% else %>
            <p class="lead">It appears no specialists have been added yet feel free to <a href="/patients">add a specialist</a>.</p>
          <% end %>
					<% if @trial.schedules.any? %>
						<a href="/trials/<%= @trial.id%>/schedule/add" class="btn btn-block btn-primary" role="button">View Trial Visit Template</a>
					<% else %>
						<p class="lead text-center">No schedule has been created for this trial. Create the trial schedule <a href="/trials/<%= @trial.id%>/schedule/add" class="btn btn-primary" role="button"> here</a></p>
					<% end %>
				</dt>
			</dl>
				</dt>
			</dl>
		</div>
	</div>
	</div>
</div>
